n8n/flows/abandoned-nudge.json
[
  {
    "updatedAt": "2026-06-21T19:11:15.000Z",
    "createdAt": "2026-06-19T04:38:24.718Z",
    "id": "kotenudge000001",
    "name": "🐾 КотЭ — дожим зависших броней",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 6 * * *"
              }
            ]
          }
        },
        "name": "⏰ Раз в день 13:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "9fdc95a3-c1a3-468a-9e66-f18d3d6fdc96"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/bot_abandoned_bookings",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "SCRUBBED_SUPABASE_KEY"
              },
              {
                "name": "Authorization",
                "value": "Bearer SCRUBBED_SUPABASE_KEY"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"p_secret\": \"{{ $env.KOTE_SECRET }}\", \"p_hours\": 24 }"
        },
        "name": "🕳 Зависшие брони (Supabase)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          224,
          0
        ],
        "id": "acbbf7ae-d372-4e22-ac4f-da4911b5ee4f"
      },
      {
        "parameters": {
          "batchSize": 1
        },
        "name": "🔄 По каждой брони",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          448,
          0
        ],
        "id": "3e96b075-01c8-4bca-88e9-71b9667377b1"
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "={{ $json.tg_chat_id }}",
          "text": "=Мур-р-р, {{ $json.client_name }}! 🐾 Вижу, ты присматривался к «{{ $json.tour_name }}» — местечко пока придержал лапкой. Всё в силе? Если что-то смутило — спроси, помогу выбрать идеально! 😺",
          "additionalFields": {
            "appendAttribution": false,
            "disable_web_page_preview": true
          }
        },
        "name": "📲 Мягкий дожим",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          672,
          0
        ],
        "id": "ecfc2568-f913-46e1-997d-81654d1252b3",
        "credentials": {
          "telegramApi": {
            "id": "a1b2c3d4e5f60718",
            "name": "Telegram KotE"
          }
        }
      }
    ],
    "connections": {
      "⏰ Раз в день 13:00": {
        "main": [
          [
            {
              "node": "🕳 Зависшие брони (Supabase)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🕳 Зависшие брони (Supabase)": {
        "main": [
          [
            {
              "node": "🔄 По каждой брони",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔄 По каждой брони": {
        "main": [
          [],
          [
            {
              "node": "📲 Мягкий дожим",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📲 Мягкий дожим": {
        "main": [
          [
            {
              "node": "🔄 По каждой брони",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": {
      "node:⏰ Каждый день 18:00 Бангкок": {
        "recurrenceRules": []
      },
      "node:⏰ Раз в день 13:00": {
        "recurrenceRules": []
      }
    },
    "meta": null,
    "nodeGroups": [],
    "pinData": null,
    "versionId": "bc9b0e58-5796-40b3-b272-39d482c470cf",
    "activeVersionId": "bc9b0e58-5796-40b3-b272-39d482c470cf",
    "versionCounter": 4,
    "triggerCount": 1,
    "sourceWorkflowId": null,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-06-21T19:11:11.391Z",
        "createdAt": "2026-06-21T19:11:11.391Z",
        "role": "workflow:owner",
        "workflowId": "kotenudge000001",
        "projectId": "MqwDP4C0laO81Bqg",
        "project": {
          "updatedAt": "2026-06-19T04:42:11.152Z",
          "createdAt": "2026-06-18T20:48:04.578Z",
          "id": "MqwDP4C0laO81Bqg",
          "name": "Ilia Betekhtin <ibetekhtin@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "customTelemetryTags": [],
          "creatorId": "7c1a3523-c2a1-45ab-99ab-c48c16f7c6b9"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]